# scala
target/
.idea/
.bloop
.metals
.scala-build
metals.sbt
.vscode/
/project/project/
.java-version
.bsp/

# python
__pycache__/
*.py[cod]
*$py.class
.venv
.pytest_cache
.deepeval-cache.json

# js
node_modules

# misc
.DS_Store
content
app/src/main/resources/static/generated.css
app/src/main/resources/static/bundle.js*
*.env
